[submodule "luau"]
	path = luau
	url = https://github.com/luau-lang/luau
[submodule "RE-flex"]
	path = RE-flex
	url = https://github.com/Genivia/RE-flex
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
